<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- NOTE (Cameron): To create this LocalDB instance of SQL Server you need to run the following command: "sqllocaldb c dddlib 12.0 -s" -->
    <add name="SqlDatabase" connectionString="Data Source=(localdb)\dddlib;Initial Catalog=master;Integrated Security=True;" />
  </connectionStrings>
</configuration>