<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.data.localdb" type="System.Data.LocalDBConfigurationSection,System.Data,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.data.localdb>
    <localdbinstances>
      <add name="dddlib" version="12.0" />
    </localdbinstances>
  </system.data.localdb>
  <connectionStrings>
    <add name="SqlDatabase" connectionString="Data Source=(localdb)\dddlib;Initial Catalog=tempdb;Integrated Security=True;Connect Timeout=60;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="dddlib" publicKeyToken="170a2ed9a7ece236" />
        <bindingRedirect oldVersion="0.5.1.0" newVersion="0.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dddlib.Persistence" publicKeyToken="170a2ed9a7ece236" />
        <bindingRedirect oldVersion="0.5.1.0" newVersion="0.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>