<configuration>
  <repositoryPath>../packages</repositoryPath>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="cameronfletcher.com" value="http://nuget.cameronfletcher.com/nuget" />
    <add key="nuget.org" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>